h1,h2,h3,h4,h5,h6 {
    font-family: "Chronicle Display";
    font-weight: 600;
    font-style: normal;
}

.subtitle {
    font-family: "Gilroy";
    position: relative;
    color: #FBD784;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 0px 0px 0px 104px;

    &::before {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 72px;
        height: 2px;
        background-color: #FBD784;
    }
}

.title {
    font-size: 64px;
    font-weight: 600;

    @media (max-width: 1200px) {
        font-size: 44px;
    }
}